{% assign category = page.category %}
{% assign subcategories = site.data.literature[category] | group_by: "subcategory" %}

{% if subcategories %}
  {% for subcategory in subcategories %}
  {{ "### " | append: subcategory.name | markdownify }}  <!-- Ensures Markdown is processed -->

  {% for paper in subcategory.items %}
  - [{{ paper.pmid }}](https://pubmed.ncbi.nlm.nih.gov/{{ paper.pmid }}/) 
    **({{ paper.author }}, {{ paper.year }} {{ paper.journal }})** - {{ paper.description }}
  {% endfor %}
  {% endfor %}
{% else %}
  No literature found for this category.
{% endif %}


